
body {
	font-family: "Lucida Grande", Lucida, Helvetica, Arial, sans-serif;
	background: #FFF;
	color: #333;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

#container {
	width: 1000px;
	margin: auto auto auto auto;
}

#header {
	margin: 0px;
	padding: 20px;
	text-align: center;
}

#header h1 {
	font-family: Helvetica, Arial, sans-serif;
	color: gray;
	margin: 0px;
}

img {
	border: 0;
}

/* CONTENT */

.content {
	width: 1020px;
	margin: auto auto auto auto;
}

#content-menu {
	float: left;
	width: 350px;
	text-align: center;
	margin: 5px;
}

#menu {
	height: 650px;
	overflow: scroll;
}

#content-map {
	float: left;
	width: 650px;
	text-align: center;
	margin: 5px;
}

/* EVENT-INFO */

.event-info {
	float:left;
	width: 350px;
	font-size: 12px;
}
.event-info-detail {
	float:left;
	margin:5px;
}

.event-info-detail .event-image {
	float: none;
}

.event-info-detail .event-id {
	float: none;
}

.event-info-detail .event-name {
	float: none;
	width: 250px;
	text-align:left;
	font-weight: bold;
	font-size: 14px;
}
.event-info-detail .event-time {
	float: none;
	text-align:left;
}

/* MAP */

#map_canvas {
	width: 648px;
	height: 648px;
	border: solid 1px black;
}

/* EVENT-DETAILS */

.event-details {
	
}

.vertical {
	float: none;
}

.horizontal {
	float: left;
}